/*gallery/add есть копия этого файла */
.about{
    text-align: justify;
}
.about .about-us{
    margin: 15px auto; /*120св и сн авто по бокам, чтобы центрировался*/
    display: flex;
    align-items: center;        /*чтобы текст был вертикально по центур*/ 
}

.about .about-us__img-l{
    margin: 0 0 0 30px;
}
.about .about-us__img-r{
    margin: 0 30px 0 0;
}
.about .about-us__img img {
    width: 50vw;
    display: block;
    max-width: 100%;
    /**/
}
.about__all-text {
    display: block;
    padding-right: 30px;
}
.about__all-text p {

    font-size: 18px;
    line-height: 30px;
    margin: 25px 0;
    
}
.about .about-us__text p{
    /*font-size: 18px;
    line-height: 30px;*/
    margin: 20px 0;
    /*color: #1b1b1b;
    opacity: 0.7;*/
}
@media (max-width: 980px){
    .about .about-us {
        margin: 5px auto;
        flex-direction: column;
    }
    .reverse-element {
        flex-direction: column-reverse !important 
    }
    .about .about-us__img{
        margin: 0 0 20px 0;
        flex-basis: auto; /*убираем базовый размер у элементов*/
    }
    .about .about-us__img img{
        width: auto;
    }
    .about .about-us__text{
        /*flex-basis: calc(100%-43%-30px);*/
        flex-basis: auto;
        text-align: left;
    }
}
