            .user-padding a{
                padding-bottom: 15px;
            }
            a img{
                    border-radius: .20rem !important;
                    padding-bottom: 15px;
            }
            a.anchorjs-link {
                color:black;
            }
            a.anchorjs-link:hover {
                color:#02709e;
                text-decoration: none;
            }
            .gallery p{
                text-align: center;
            }