            .user-padding a{
                padding-bottom: 15px;
            }
            a img{
                    border-radius: .20rem !important;
                    margin-bottom: 15px;
            }
            a img:hover{
                /*-webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);*/
                /*transform: scale(1.02);*/
                transform: rotateZ(2deg);
                /*opacity: 0.9*/
            }
            a.anchorjs-link {
                color:black;
            }
            a.anchorjs-link:hover {
                color:#02709e;
                text-decoration: none;
            }
            .gallery p{
                text-align: center;
            }