.header-min {
    margin-bottom: 50px;
}

.header-min__wrap{                  
    height: 120px;             
}

.header-min__menu {
    display: flex; /*? в ряд эелементы*/
    justify-content: flex-end; /*выравнивание элементов*/
    align-items: center;
    
}
    /*_______________MEDIA_________________*/

    @media (max-width: 980px){
        .header-min{
            margin-bottom: 30px; /*изменение отступа снизу*/
        }
    }